<ul>
  <li>Name: <%= @facade.find_station.name %></li>
  <li>Address: <%= @facade.find_station.address %></li>
  <li>Fuel Type: <%= @facade.find_station.fuel_type %></li>
  <li>Access Times: <%= @facade.find_station.access_times %> <div></li>
  <li>Distance: <%= %></li>
  <li>Travel Time: <%= %></li>
  <li>Directions: <%= %></li>
</ul>