<ul>
  <li>Name: <%= %></li>
  <li>Address: <%= %></li>
  <li>Fuel Type: <%= %></li>
  <li>Access Times: <%= %> <div></li>
  <li>Distance: <%= %></li>
  <li>Travel Time: <%= %></li>
  <li>Directions: <%= %></li>
</ul>